@import "config";

header {
  margin: 0;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  height: 100px;
  color: white;
  position: fixed;
  z-index: 30;
  width: 100%;
  .navigation__logo_menu--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation--menu {
      display: none;
      cursor: pointer;
      div {
        @include easeOut;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        border-radius: 5px;

        &:nth-child(1) {
          width: 25px;
        }

        &:nth-child(2) {
          width: 35px;
        }

        &:nth-child(3) {
          width: 20px;
        }
      }
    }
  }
  @include easeOut;
  &.navigation__fixed-background {
    background-color: $grey;
  }
  .logo {
    padding-left: 15rem;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    padding-right: 15rem;
    li {
      color: black;
      font-size: large;
    }
  }
}

.header-section {
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  div {
    text-align: center;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h1 {
      font-size: 5rem;
    }
  }
}

main {
  div {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    width: 90%;
    gap: 2rem;
    // flex-wrap: wrap;
    & > * {
      width: 50%;
    }
    p {
      padding: 3rem 6rem;
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: lighter;
    }
    .main-right-image {
    }
  }
}

.section-contact {
  // width: 100%;
  margin: 2rem 0;
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50rem;
    border: 1px solid black;
    margin: 3rem auto;
    padding: 1rem;
    .form__input,
    .form__textarea {
      padding: 1rem;
    }
    .form__textarea {
      resize: none;
      height: 15rem;
    }
    .form--container-button {
      display: flex;
      justify-content: end;
    }
  }
}
footer {
  background-color: $grey-secondary;
  margin-bottom: 0;
  margin-right: auto;
  padding: 2rem;
  padding-left: 15rem;
  .footer__container--list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-right: 10rem;
    ul {
      list-style: none;
      li {
        font-size: 18px;
        color: white;
        a {
          color: white;
        }
      }
    }
    .footer__contacts--list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
    .footer__link--list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  .footer__center-center {
    text-align: center;
    color: white;
  }
}

@import "mobile";
