body {
  padding: 0;
  margin: 0;
  width: 100%; }

button {
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  transition: all 0.5s ease-out; }
  button:hover {
    background-color: #cccccc;
    color: white; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: underline; }

section,
main {
  padding: 5rem 0; }

.section-title {
  font-size: 3rem;
  text-align: center; }

header {
  margin: 0;
  height: 100vh; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  height: 100px;
  color: white;
  position: fixed;
  z-index: 30;
  width: 100%;
  transition: all 0.5s ease-out; }
  nav .navigation__logo_menu--container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .navigation__logo_menu--container .navigation--menu {
      display: none;
      cursor: pointer; }
      nav .navigation__logo_menu--container .navigation--menu div {
        transition: all 0.5s ease-out;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        border-radius: 5px; }
        nav .navigation__logo_menu--container .navigation--menu div:nth-child(1) {
          width: 25px; }
        nav .navigation__logo_menu--container .navigation--menu div:nth-child(2) {
          width: 35px; }
        nav .navigation__logo_menu--container .navigation--menu div:nth-child(3) {
          width: 20px; }
  nav.navigation__fixed-background {
    background-color: #cccccc; }
  nav .logo {
    padding-left: 15rem; }
  nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    padding-right: 15rem; }
    nav ul li {
      color: black;
      font-size: large; }

.header-section {
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .header-section div {
    text-align: center;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .header-section div h1 {
      font-size: 5rem; }

main div {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 90%;
  gap: 2rem; }
  main div > * {
    width: 50%; }
  main div p {
    padding: 3rem 6rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: lighter; }

.section-contact {
  margin: 2rem 0; }
  .section-contact form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50rem;
    border: 1px solid black;
    margin: 3rem auto;
    padding: 1rem; }
    .section-contact form .form__input,
    .section-contact form .form__textarea {
      padding: 1rem; }
    .section-contact form .form__textarea {
      resize: none;
      height: 15rem; }
    .section-contact form .form--container-button {
      display: flex;
      justify-content: end; }

footer {
  background-color: #999999;
  margin-bottom: 0;
  margin-right: auto;
  padding: 2rem;
  padding-left: 15rem; }
  footer .footer__container--list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-right: 10rem; }
    footer .footer__container--list ul {
      list-style: none; }
      footer .footer__container--list ul li {
        font-size: 18px;
        color: white; }
        footer .footer__container--list ul li a {
          color: white; }
    footer .footer__container--list .footer__contacts--list {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      footer .footer__container--list .footer__contacts--list li {
        display: flex;
        align-items: center;
        gap: 1rem; }
    footer .footer__container--list .footer__link--list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; }
  footer .footer__center-center {
    text-align: center;
    color: white; }

@media screen and (max-width: 769px) {
  .section-title {
    font-size: 1.5rem; }
  button {
    padding: 0.7rem 1.5rem;
    font-size: medium; }
  nav {
    flex-direction: column; }
    nav.show {
      background-color: #cccccc; }
    nav ul {
      display: none;
      width: 100%;
      flex-direction: column;
      background-color: #cccccc;
      padding: 1rem; }
      nav ul.show {
        display: flex;
        transition: all 0.5s ease-out; }
      nav ul li {
        padding: 0 1rem; }
    nav .navigation__logo_menu--container {
      width: 100%;
      padding: 0.5rem; }
      nav .navigation__logo_menu--container .navigation--menu {
        display: block;
        padding-right: 1rem; }
        nav .navigation__logo_menu--container .navigation--menu.show div:nth-child(1) {
          transform: translate(10px) rotate(45deg); }
        nav .navigation__logo_menu--container .navigation--menu.show div:nth-child(2) {
          transform: translateY(5px) translateX(5px); }
        nav .navigation__logo_menu--container .navigation--menu.show div:nth-child(3) {
          transform: translateY(-20px) translateX(10px) rotate(-45deg);
          width: 25px; }
    nav .logo {
      padding-left: 0rem; }
  .header-section {
    padding: 0 1rem; }
    .header-section div {
      padding: 0 1rem; }
      .header-section div h1 {
        font-size: 2rem; }
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main div {
      flex-direction: column;
      padding: 1rem 0;
      gap: 0.5rem;
      align-items: center; }
      main div > * {
        width: 100%; }
      main div p {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5rem; }
      main div.main__content--second {
        flex-direction: column-reverse; }
  .section-contact form {
    max-width: 80%; }
  footer {
    padding: 0.5rem; }
    footer .footer__container--list {
      padding-right: 0rem;
      flex-direction: column; }
      footer .footer__container--list ul li {
        font-size: 14px; } }
